<div class="nav"><a href="./">Show Open Issues</a></div>
<% if (viewData.issues.length) { %>
    <% for (const issue of viewData.issues) { %>
        <div class="issueContainer">
            <div class="issue">
                <img crossorigin="anonymous" src="<%= issue.avatar %>" alt="avatar" class="avatar">
                <h3><%= issue.title %></h3>
                <form class="closeButtonForm" method="post" action="./<%= issue.iid %>/reopen">
                    <input type="hidden" name="iid" value="<%= issue.iid %>" />
                    <button type="submit" class="closeButton">Reopen Issue</button>
                </form>
            </div>
        </div>
    <% } } else { %>
        <div class="issue">
            <h2>No Closed Issues</h2>
        </div>
    <% } %>