<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        html {
            color: rgb(121, 121, 121);
            height: 100%;
            text-align: center;
            width: 100%;
        }

        h1 {
            color: black;
            font-size: 50px;
            font-weight: 500;
        }

        p {
            margin: 0 auto;
            width: 280px;
        }

    </style>
</head>
<body>
    <h1>404 Not Found</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
</body>
</html>