<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>1DV026 - Assignment-B1-CRUD-Snippets</title>
  <base href="<%= baseURL %>" />
  <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <%- include('../partials/header') %>
    <main role="main" class="container">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
